/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	color: #3F111C;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1280px;
}

.button.button-primary, 
.button.button-primary:hover, 
.button.button-primary:active, 
.button.button-primary:focus {
	background: #F6416C;
	border-color: #F6416C;
	border-radius: 0;
}

/* Top
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon_like {
	width: 14px; 
	height: auto; 
	padding: 0 5px 0 0;
	margin: 0 0 0 0;
}

.banner {
	width: 100%;
	min-height: 50px;
	background: #F6416C;
}

.banner a {
	font-weight: 500;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}

.banner a:hover {
	text-decoration: underline;
}

.banner a strong {
	padding: 0 0 0 5px;
}

.logo {
	width: 40px; 
	height: auto; 
	padding: 24px 0 0 24px;
}

.nav {
	padding: 25px 25px 0 0;
}

.nav ul {
	list-style: none;
}

.nav ul li {
	text-decoration: none;
	display: inline-block;
}

.nav ul li a{
	margin: 0 20px 0;
	text-decoration: none;
	color: #fff;
}

.nav ul li a:hover {
	border-bottom: 2px solid #fff;
	padding: 0 0 2px;
}

.header-background {
	height: 600px;
	position: relative;
	overflow: hidden;
	left:0 ;
  z-index: 0;
  margin: 0 auto 0;
  background-image: url('../images/hero.jpg');
	/*background-image: url('../images/layer.png'), url('../images/header.jpg');*/
	/*background-image: url('../images/layer.webp'), url('../images/header.webp'); */ /*Webp can't be used except in Chrome*/
	background-color: #F6416C;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.header {	
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #fff;
	text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
}


/* Main Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container-fluid.process, .container-fluid.support {
	padding: 0 0 60px 0;
}

.process {
	text-align: center;
	margin: 30px auto 60px;
}

.imprint, .privacy, .blog {
	margin: 0 auto 60px;
}

.support strong{
	display: block;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.back-button, .back-button {
	display: inline-block;
	padding: 5px 0;
	color: #F6416C;
	text-decoration: underline;
}

.imprint.back-button:hover {
	text-decoration: underline;
}

.process h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	text-align: left;
	padding: 30px 0 0;
}

.footer h3, 
.imprint h3, 
.privacy h2,
.privacy h3,
.blog h2,
.blog h3,
.catalog h2,
.catalog h3 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	text-align: left;
	padding: 30px 0 0;
}

.process img {
	width: 140px; 
	height: auto; 
	margin: auto;
	display:block;
}

.process a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #F6416C;
	padding: 0 0 2px;
}

.process strong {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.hint {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px 5px;
}

.hint.dark {
	border: 3px solid #F6416C;
	color: #F6416C;
}

.hint.light {
	border: 3px solid #fff;
	color: #fff;
}

.hint .sup {
	vertical-align: super;
	font-size: 0.618em;
}

.privacy a {
	color: #F6416C;
	text-decoration: underline;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	border-top: 2px solid #F6416C;
	margin: 0 auto 120px;
}

.footer ul {
	text-align: left;
}
.footer ul li {
	list-style: none;
}
.footer ul li a {
	text-decoration: none;
	border-bottom: none;
}
.footer ul li a strong {
	text-transform: uppercase;
	color: #F6416C;
}